
    <div class=" mainCont about-big" >
    <!-- images and site content -->
        <div class="background">
            <div class="about">
                <h1>ABOUT US</h1>
                <div class = "left content">
                  
                  <h3>MISSION</h3>
                  <p>To provide our customers with range and selection of products from every part of the world!<br>
                    We realized the world is changing! With incredible growth of world population, enormous rate of migration - we want to make sure you can find with us everything you need<br>
                    whether it is something for your special Sunday dinner or for your newly growing business.</p>
                </div>

                <div class="about">
                     <%= image_tag("food_business_1.jpg", :class => "image right") %>
                </div>
            </div>

            <div class="about">

                <div>
                    <%= image_tag("shopping.jpg", :class => "image left") %>
                </div>

                <div class="right content">
                 <h3>VALUES</h3>
                 <p>Customer is our asset. We want to make sure that we never fail on quality, availabilty and service we provide for our customers.<br>
                 Also, there is no successful business without people creating it. We value our employees equally with our customers.<br>
                 By providing great place to work we are assured both pillars of our company stay solid strong!
                 </p>
                </div>
            </div>
            
            <!-- end and site content -->

            </div>
    </div>
            
 
     <div class="clear"></div>


<%= render 'items/footer' %>


