



<div class="container">
  <div class="row">
    <div class="col align-self-start">
      One of three columns
    </div>
    <div class="col align-self-center">
      <h3>Thanks, you paid <strong></strong></h3>
        <p>Your products are on the way!</p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">We will send them to you at the address present in your profile</li>
          </ol>
        </nav>

        <%= image_tag "imageThanks.jpg" %>
        
        <%= render 'items/footer' %> 
    </div>
    <div class="col align-self-end">
      One of three columns
    </div>
  </div>
</div>